In [28]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler 
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")
gender_data = pd.read_csv("gender_submission.csv")

In [29]:
all_passengers = pd.concat([train_data.drop("Survived", axis = 1), test_data], axis = 0)
all_passengers = all_passengers.reset_index(drop = True)

In [30]:
train_data2=train_data
train_data2["Name"]=train_data2["Name"].str.split(pat = ",")
train_data2["Name"] = train_data2["Name"].apply(lambda x: x[0])
#Transformacja kabiny
train_data2["Cabin"]=train_data2["Cabin"].fillna("0")
train_data2["Cabin"]
train_data2["Cabin_type"]=train_data2["Cabin"].apply(lambda x: x[0])
train_data2["Cabin_type"].value_counts()

0    687
C     59
B     47
D     33
E     32
A     15
F     13
G      4
T      1
Name: Cabin_type, dtype: int64

In [31]:
#Tworzenie listy na podstawie elementow oddzielonych przecinkiem
all_passengers["Name"] = all_passengers["Name"].str.split(pat = ",")
#Wybieranie pierwszego elementu z listy
all_passengers["Name"] = all_passengers["Name"].apply(lambda x: x[0])

In [32]:
trav_together = all_passengers[(all_passengers["SibSp"] != 0) | (all_passengers["Parch"] != 0)].sort_values("Name")

In [33]:
train_data2["Adult"]=(train_data2["Age"]>18).astype(int)
train_data2["Sex"]=(train_data2["Sex"]=='male').astype(int)

In [34]:
print(train_data2.groupby("Pclass").mean()["Survived"])
print(train_data2.groupby("Sex").mean()["Survived"])
print(train_data2.groupby("Adult").mean()["Survived"])
print(train_data2.groupby("Cabin_type").mean()["Survived"])
train_data2["Cabin_type"].value_counts()
train_data2.groupby("Embarked").mean()["Survived"]
#train_data2.groupby("Pclass").mean()["Survived"]

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64
Sex
0    0.742038
1    0.188908
Name: Survived, dtype: float64
Adult
0    0.386076
1    0.382609
Name: Survived, dtype: float64
Cabin_type
0    0.299854
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
T    0.000000
Name: Survived, dtype: float64

Embarked
C    0.553571
Q    0.389610
S    0.336957
Name: Survived, dtype: float64

In [35]:
train_data3 = train_data2.drop(["PassengerId","Cabin","Name","SibSp","Parch","Ticket","Cabin_type"],axis=1)

In [36]:
train_data3.sort_values("Embarked").tail()

     Survived  Pclass  Sex   Age     Fare Embarked  Adult
355         0       3    1  28.0   9.5000        S      1
344         0       2    1  36.0  13.0000        S      1
445         1       1    1   4.0  81.8583        S      0
61          1       1    0  38.0  80.0000      NaN      1
829         1       1    0  62.0  80.0000      NaN      1

In [37]:
train_data3.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
Fare          0
Embarked      2
Adult         0
dtype: int64

In [38]:
# zmaiana zmiennych kategorycznych na zmienne binarne
# one hot encoding
embarked=train_data3["Embarked"]
embarked_dummies=pd.get_dummies(embarked,drop_first=True)
embarked_dummies.head()
#Wyrzucenie zmiennej kategorycznej embarked i
#zamiana jej na zmienna binarna


train_data4=train_data3.drop("Embarked",axis=1)
train_data4=pd.concat([train_data4,embarked_dummies],axis=1)
print(train_data4)

     Survived  Pclass  Sex   Age     Fare  Adult  Q  S
0           0       3    1  22.0   7.2500      1  0  1
1           1       1    0  38.0  71.2833      1  0  0
2           1       3    0  26.0   7.9250      1  0  1
3           1       1    0  35.0  53.1000      1  0  1
4           0       3    1  35.0   8.0500      1  0  1
..        ...     ...  ...   ...      ...    ... .. ..
886         0       2    1  27.0  13.0000      1  0  1
887         1       1    0  19.0  30.0000      1  0  1
888         0       3    0   NaN  23.4500      0  0  1
889         1       1    1  26.0  30.0000      1  0  0
890         0       3    1  32.0   7.7500      1  1  0

[891 rows x 8 columns]